.container {
    position: relative;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
    top: 50%;
        left: 50%;
    transform: translate(-50%, -50%);
} 

@media screen and (min-width: 550px) {
    .container {
flex-wrap: nowrap;
    } 
}

.left-center {
    position: relative;
    left: 0%;
    width: 250px;
    background-color: #141BAD;
    margin: 0px 20px;
    height: 250px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 100px;
}

.right-center {
    position: relative;
    right: 0%;
    width: 250px;
    height: 250px;
    background-color: #00BFFD;
    margin: 0px 20px;
    position: relative;
}

.left-center,  .right-center {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    transition: 0.1s;
    border-radius: 15px;
    font-weight: 900;
}

.left-center:hover,  .right-center:hover {
    transform: scale(1.01);
    opacity: 0.9;
}

.logo {
    text-align: center;
    transform: scale(0.4);
    margin-top: -38px;
}

h1 {
    font-size: 25px;
    width: 80vw;
        position: absolute;
    top: 35%;
        left: 50%;
    transform: translate(-50%, -50%);
}

h5 {
    margin-top: 20px;
    font-size: 15px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    text-align: center;
    margin-bottom: 20px;
}
